body {
  background-color: rgb(242, 172, 111);
}
h1 {
  font-style: italic;
  font-style: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 36px;
  text-align: center;
  color: teal;
}
.teams {
  width: 200px;
  border: solid 1px black;
  text-align: center;
}
.picks {
  width: 50px;
  border: solid 1px black;
  text-align: center;
}
table {
  border: solid 2px black;
}
.makingPicks {
  display: flex;
  flex-wrap: wrap;
  float: right;
}